.clear {
  clear: both;
}

.log {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #FFF;
  padding: 30px 0;
  min-height: 100vh;
}

.log * {
  text-transform: none;
}

.log h2 {
  text-align: center;
  color: #ed2553;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 50px;
}

.log .input-cont {
  position: relative;
  margin: 0 50px 60px;
}

.log .input-cont:last-of-type {
  margin-bottom: 30px;
}

.log .input-cont input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40px;
  outline: none;
  color: #212121;
  font-size: clamp(1rem, 2vw, 2vw);
  font-weight: 400;
  background: none;
  border: none;
}

.log .input-cont input:focus {
  outline: none;
}

.log .input-cont label {
  position: absolute;
  color: #948c8c;
  top: 0;
  left: 0;
  font-size: clamp(1rem, 2vw, 2vw);
  line-height: 40px;
  -webkit-transition: .3s;
  transition: .3s;
}

.log .input-cont input:focus + label {
  margin-top: -30px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  color: #bdbdbd;
}

.log .border1,
.log .border2 {
  position: absolute;
  height: 1px;
  background-color: #9E9E9E;
  left: 0;
  bottom: 0;
  width: 100%;
}

.log .border1::after,
.log .border1::before,
.log .border2::after,
.log .border2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

.log .border1::after,
.log .border2::after {
  right: 50%;
  background-color: #ed2553;
}

.log .border1::before,
.log .border2::before {
  left: 50%;
  background-color: #ed2553;
}

.log .input-cont input:focus ~ .border1::after,
.log .input-cont input:focus ~ .border1::before,
.log .input-cont input:focus ~ .border2::after,
.log .input-cont input:focus ~ .border2::before {
  width: 50%;
}

.log .check,
.log a {
  float: left;
  width: calc(50% - 50px);
  display: block;
  font-size: 12px;
  margin-bottom: 30px;
}

.log .check {
  margin-left: 50px;
}

.log a {
  text-align: right;
  text-decoration: none;
  color: #ed2553;
}

.log a:hover {
  text-decoration: underline;
  color: #F00;
}

.submitInput {
  display: block;
  margin: 0 auto 20px;
  border: 2px solid transparent;
  padding: 5px 20px;
  font-size: 22px;
  cursor: pointer;
  color: #ed2553;
  -webkit-transition: .5s;
  transition: .5s;
}

.submitInput:focus {
  outline: none;
}

.submitInput:hover {
  border: 2px solid #ed2553;
}

.containerDash {
  padding: 5%;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  gap: 5%;
}

.dash-cards {
  background-color: whitesmoke;
  border-radius: 3rem;
  padding: 5%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 3% 0;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}

.dash-cards:hover {
  background-color: rgba(245, 245, 245, 0.705);
}

.proj-up-form {
  border-radius: 2rem;
  background-color: whitesmoke;
  margin: 5%;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.proj-up-form * {
  width: 100%;
  padding: 1%;
  border-radius: 1rem;
}

.proj-up-form .custom-upload {
  background-color: white;
  width: 100%;
  padding: 2%;
  cursor: -webkit-grab;
  cursor: grab;
  text-align: center;
  margin: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.proj-up-form .custom-upload:hover {
  background-color: rgba(172, 172, 172, 0.705);
  color: white;
}

.loading {
  font-size: 4rem;
  -webkit-animation: loadSpiner .8s linear infinite;
          animation: loadSpiner .8s linear infinite;
}

@-webkit-keyframes loadSpiner {
  0% {
    color: red;
  }
  10% {
    color: #ff5100;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    color: #ffd000;
  }
}

@keyframes loadSpiner {
  0% {
    color: red;
  }
  10% {
    color: #ff5100;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    color: #ffd000;
  }
}

.parent-table-admin {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-table {
  padding: 10%;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  background-color: whitesmoke;
  border-radius: 1rem;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  overflow: hidden;
}

.admin-table * {
  text-transform: none !important;
  padding: 1%;
  border: 1px solid #3a3a3aa6;
}

.admin-table tbody tr {
  font-weight: 400;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.admin-table tbody tr:nth-child(odd) {
  background-color: #e4e3e3;
  color: #000000;
}

.admin-table tbody tr:hover {
  background-color: #7a7a7a;
  color: white;
}

.message-admin-table {
  padding: 2% 5%;
  background-color: white;
  -webkit-box-shadow: black 0 0 1rem 0;
          box-shadow: black 0 0 1rem 0;
  border-radius: 1rem;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: -9999;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  word-wrap: break-word;
  word-break: break-all;
}

.message-admin-table .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}

.message-admin-table .header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.message-admin-table .header i {
  cursor: pointer;
  color: #ed2553;
  font-size: 2rem;
  font-weight: 400;
  padding: .3%;
  border-radius: 3px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.message-admin-table .header i:hover {
  color: white;
  background-color: #ed25548e;
}

.message-admin-table p {
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  overflow: auto;
  max-height: 13rem;
  min-width: 300px;
}

.show-meesage-table {
  z-index: 9999;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
/*# sourceMappingURL=admin.css.map */