.clear {
  clear: both;
}

.log {
  width: 100%;
  // margin: 5% auto;
  position: relative;
  display: grid;
  place-items: center;
  background-color: #FFF;
  padding: 30px 0;
  min-height: 100vh;

  * {
    text-transform: none;
  }
}

.log h2 {
  text-align: center;
  color: #ed2553;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 50px;
}

.log .input-cont {
  position: relative;
  margin: 0 50px 60px;
}

.log .input-cont:last-of-type {
  margin-bottom: 30px;
}

.log .input-cont input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40px;
  outline: none;
  color: #212121;
  font-size: clamp(1rem, 2vw, 2vw);
  font-weight: 400;
  background: none;
  border: none;
}

.log .input-cont input:focus {
  outline: none;
}

.log .input-cont label {
  position: absolute;
  color: #948c8c;
  top: 0;
  left: 0;
  font-size: clamp(1rem, 2vw, 2vw);
  line-height: 40px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.log .input-cont input:focus+label {
  margin-top: -30px;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  color: #bdbdbd;
}

.log .border1,
.log .border2 {
  position: absolute;
  height: 1px;
  background-color: #9E9E9E;
  left: 0;
  bottom: 0;
  width: 100%;
}

.log .border1::after,
.log .border1::before,
.log .border2::after,
.log .border2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.log .border1::after,
.log .border2::after {

  right: 50%;
  background-color: #ed2553;
}

.log .border1::before,
.log .border2::before {
  left: 50%;
  background-color: #ed2553;
}

.log .input-cont input:focus~.border1::after,
.log .input-cont input:focus~.border1::before,
.log .input-cont input:focus~.border2::after,
.log .input-cont input:focus~.border2::before {
  width: 50%;
}

.log .check,
.log a {
  float: left;
  width: calc(50% - 50px);
  display: block;
  font-size: 12px;
  margin-bottom: 30px;
}

.log .check {
  margin-left: 50px;
}

.log a {
  text-align: right;
  text-decoration: none;
  color: #ed2553;
}

.log a:hover {
  text-decoration: underline;
  color: #F00;
}

.submitInput {
  display: block;
  margin: 0 auto 20px;
  border: 2px solid transparent;
  padding: 5px 20px;
  font-size: 22px;
  cursor: pointer;
  color: #ed2553;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.submitInput:focus {
  outline: none;
}

.submitInput:hover {
  border: 2px solid #ed2553;
}

.containerDash {
  padding: 5%;
  display: grid;
  // place-items: center;
  min-height: 100vh;
  gap: 5%;

}

.dash-cards {
  background-color: whitesmoke;
  border-radius: 3rem;
  padding: 5%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 3% 0;
  transition: background-color .3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(245, 245, 245, 0.705);
  }
}

.proj-up-form{
  border-radius: 2rem;
  background-color: whitesmoke;
  margin: 5%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  *{
    width: 100%;
    padding: 1%;
    border-radius: 1rem;
    
  }
  .custom-upload{
    background-color: white;
    
    width: 100%;
    padding: 2%;
    cursor: grab;
    text-align: center;
    margin: auto;
transition: all .3s ease-in-out;
    &:hover{
      background-color: rgba(172, 172, 172, 0.705);
      color: white;
    }
  }
  
 
}
.loading{
  font-size: 4rem;
  animation: loadSpiner .8s linear infinite;
}

@keyframes loadSpiner {
  0% {
    color: red;
  }
  10% {
    color: rgb(255, 81, 0);
  }
  100% {
    transform: rotate(3turn);
    color: rgb(255, 208, 0);
  }
}

.parent-table-admin{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
  .admin-table{
    padding: 10%;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    background-color: whitesmoke;
    border-radius: 1rem;
    transition: background-color .3s ease-in-out;
    overflow: hidden;
       
    *{
      text-transform: none !important;
      padding: 1%;
      border: 1px solid #3a3a3aa6;
    }    
   tbody tr{
     font-weight: 400;
      transition: all .1s ease-in-out;
      cursor: pointer;
      &:nth-child(odd){
        background-color: rgb(228, 227, 227);
        color: #000000 ;
      }
    
      &:hover{
        background-color: rgb(122, 122, 122);
        color: white;
      }
    }
  }
  .message-admin-table{
    padding: 2% 5%;
    background-color: white;
    box-shadow: black 0 0 1rem 0;
    border-radius: 1rem;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -9999;
    opacity: 0;
   transition: all .3s ease-in-out;
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

    }
    i{
      cursor: pointer;
      color: #ed2553;
      font-size: 2rem;
      font-weight: 400;
      padding: .3%;
      border-radius: 3px;
      transition: all .1s ease-in-out;
      &:hover{
        color: white;
        background-color: #ed25548e;
      }
    }
  }
    p{
      font-size: 1.5rem;
      width: 100%;
      text-align: left;
      overflow: auto;
      max-height: 13rem;
      min-width: 300px;
    }
  }

  .show-meesage-table{
    z-index: 9999;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }